header {
  background-image: url(images/avion.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0px;
}

.dev {
  font-size: 3vw;
}

.nom {
  font-size: 2.6vw;
}

.titre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 3vw;
  color: white;
  padding: 3vw;
  text-shadow: 5px 2px 10px black;
}

.moi {
  border: 1px white solid;
  border-radius: 50%;
  width: 30vw;
}

.moi1 {
  display: flex;
  justify-content: center;
}

.présentation {
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2vw;
  justify-content: center;
}

.texte-presentation {
  color: white;
  padding: 4vw;
  width: 50%;
}

.present {
  font-size: 1.5vw;
}

.pres {
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 3vw;
}

.menu {
  display: flex;
  padding: 0;
  background-color: white;
  justify-content: space-around;
  font-size: 2vw;
  margin: 0;
}

.menu li {
  list-style-type: none;
}

.menu a {
  display: block;
  justify-content: space-around;
  min-width: 3vw;
  text-align: center;
  color: #7aaebb;
  text-decoration: none;
  font-size: 1.8vw;
  font-weight: 550;
}

.menu a:hover {
  background-color: #ebd7ce;
  color: black;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
}

.cartes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vw;
}

.card {
  border-radius: 1.042vw;
  height: 100%;
}

.carte {
  transition: transform 0.2s;
}
.carte:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.exemple {
  border-top-left-radius: 1.042vw;
  border-top-right-radius: 1.042vw;
}

.card-title {
  color: #7aaebb;
  font-size: 2vw;
}

.page {
  background: linear-gradient(0deg, #ebd7ce, white 40%, #7aaebb);
}

.card-text {
  font-size: 1vw;
}

.titres {
  color: white;
  font-size: 3vw;
  text-shadow: 5px 5px 10px black;
  margin-left: 2.6vw;
  padding: 2vw;
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  color: #7aaebb;
}

.skills > div {
  margin: 2vw;
}

.liste {
    list-style: none;
    border-left: 0.27vw solid #7aaebb; 
    background: #f2f2f2;
    padding-top: 1.042vw; 
    padding-bottom: 1.042vw;
    padding-right: 1.302vw;
    font-size: 1vw;
}

.liste li {
  margin-bottom: 0.56vw;
}


h4 {
  font-size: 2vw;
}

.logo {
  width: 1.5vw;
  height: 1.5vw;
  margin: 1vw;
}

.textintro {
  font-size: 1.5vw;
  color: #7aaebb;
  padding: 1vw;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  position: relative;
  text-decoration: none;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.3);
}

.legende {
  position: absolute;
  top: -2vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  white-space: nowrap;
}

.icon:hover .legende {
  visibility: visible;
  opacity: 1;
}

/*.close{
  position: absolute;
  top: 0.40vw;
  right: 0.40vw;
  border-radius: 5px;
}

aside{
  position: fixed;
  top: 20vh;
  left: 50vh;
  background-color: #ebd7ce;
  box-shadow: 20px 10px 20px black;
  padding: 20px;
  width: 50%;
  min-height: 30vh;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/

